form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: $margin;
    margin-top: $margin;
}

.contact-input {
    display: grid;
    grid-template-columns: 1fr 200px;
    max-width: 400px;
    label {
        min-width: 100px;
    }
}

.radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    label {
        min-width: 175px;
    }
}

.comments {
    min-height: 150px;
    max-width: 400px;
}