.container{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 100px;

    ul li a{
        text-decoration: none;
    }

    p{
        text-indent: 40px;
    }
}


