.container{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 100px;

    ul li a{
        text-decoration: none;
    }

    p{
        text-indent: 40px;
    }

    
}

.calendar-container{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    
    h1, h2 {
        color: white;
    }
}
.para p{
    text-indent: 0px;
    margin-left: 40px;

}


