.features {
    background-color: $section-features-color;

    h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
}


.gallery {
    display: grid;
    max-width: 1020px;
    margin: 0 auto;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-rows: 200px 200px; */
    grid-gap: 50px 20px;
    justify-content: center;
    align-content: center;
    padding-bottom: 70px;
}

.gallery p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.gallery-item {
    position: relative;
}

.gallery .gallery-item img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:before {
    content: "";
    height: 0;
    display: inline-block;
    width: 1px;
    padding-bottom: calc(100% / (3 / 2));
}

section {
    grid-template-columns: 1fr repeat(2, minmax(auto, 540px)) 1fr;
}