footer{
    background-color: $nav-footer-color;
    color: lightgray;
    text-align: center;
    padding: $padding;

    .footer-nav ul{
        display: flex;
       
    }

    .footer-nav li{
        list-style: none;
        flex: 1;  
    }

    .footer-nav a{
        display: block;
        text-decoration: none;
        padding: $half-padding;
        font-size: 1.2em;
        color: lightgray;
        

        #{$link-hover-selector}{
            color:red;
            $link-hover-selector: '&:hover, &:focus, &:active';
        }

        @at-root .footer-nav li:last-child a {
            border-right: none;
        }
    }

    p{
        border-top: 2px solid lightgray;
        margin: 0;
       
    }

}