.main-nav{
    background-color: $main-nav-color;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 4px $main-nav-border-bottom-color solid;

        @include flatten(true);

    }

    li a, .dropbtn {
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: $main-nav-font-color;
    }

    li a:hover, .dropdown:hover .dropbtn {
        background-color: $main-nav-color;
    }
    
    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: $main-nav-font-color;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
}