.navbar-custom {
    // position: -webkit-sticky;
    position: fixed;
    top: -1px; 
    width: 100%;
    z-index: 999;

    @include mq($phoneLandscape) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 50px;
        background-color: $top-nav-color;
 
         .show & {
             height: auto;
             overflow: scroll;
         }
     }
}

// .mw-class {
//    @include mq($phoneLandscape){
//        display: flex;
//        flex-wrap: wrap;
//        justify-content: space-between;
//        height: 50px;
//        background-color: $top-nav-color;

//         .show & {
//             height: auto;
//             overflow: scroll;
//         }

//     } 
// }

.top-nav {  
    background-color: $top-nav-color;

    @include mq($phoneLandscape) {
        display: none;
        width: 100%;

        .show & {
            display: block;
        }

        .head-nav {
            display: flex;
            flex-direction: column-reverse;
            border-bottom: none;

            ul {
                display: block;
            }

            li a {
                display: block;
                line-height: 38px;
            }

            .search-form {
                // flex: 1;
                position: static;
                // top: 0;
                // right: 0;
                display: none;
                width: 100%;
            }
        }
    }
}

.head-nav {
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 6px solid $top-nav-border-bottom-color;
   
    ul {
        list-style-type: none;
        display: flex;
        padding: 0;  
        
        @include flatten(true);
    }

    li {
        flex: 1;
    }

    li a {
        display: inline-block;
        color: $bcit-white-color;
        text-align: center;
        
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        border-top: 5px solid $top-nav-hover-color;
    }

    .search-form {
        flex: 1;
        position: absolute;
        top: 0;
        right: 0;
    }

    .search-box {
        height: 44px;
        background-color: $search-box-color;
        border: none;
        font-size: 1.2rem;
        padding-left: 14px;
    }

    .fa {
        font-size: 1.2rem;
        color: $search-icon;
    }

    .btn {
        background-color: $btn-color;
        border: none;
    }

    @media (max-width: $top-nav-max-width) {
        .search-form {
            display: none;
        }
    }
}

.logo {
    position: absolute;
    top: 50px;
    left: 33px;
    display: block;
    z-index: 900;
    height: 45px;
    width: 83px;
    transition: all 0.3s ease;
    
    img {
        width: 100%;
        height: 140%;
    }

    @include mq($phoneLandscape) {
        position: static;
        margin-left: 18px;
    }
}

.navbar-custom .bottom-nav {
    height: 45px;
    display: flex;
    border-bottom: 4px $main-nav-border-bottom-color solid;
    background-color: $bg-wrapper-color;

    @include mq($phoneLandscape) {
        background-color: $top-nav-color;
        display: none;
        width: 100%;
        height: auto;
        .show & {
            display: block;
        }
    }   
}

.main-nav {
    background-color: transparent;
    flex: 1;
    // background-color: $main-nav-color;

    li a, .dropbtn {
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: $bcit-main-blue-color;
    }

    li a:hover, .dropdown:hover .dropbtn {
        background-color: $main-nav-color;
        border-bottom: 3px solid $bcit-main-yellow-color;       
    }
    
    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $bottom-nav-color;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a {
            color: $bcit-main-blue-color;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        a:hover { 
            background-color: $bottom-nav-item-hover-color;
            border: none;
        }
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly; 
    }

}

.navbar-custom .main-nav ul {
    margin: 0 auto;
    max-width: 1200px;

    @include flatten(true);

    @media (max-width: $phoneLandscape) {
        display: none;
    }

    @include mq(em(900)){
        margin: 0 0 0 117px;
    }

    @include mq($phoneLandscape) {
        display: block;
        margin: 0;
        height: auto;
        width: 100%;

        li a {
            display: block;
            line-height: 35px;
            color: $bcit-white-color;
        }

        li.dropdown {
            display: block;
        }

        .dropdown-content {
            display: none;
        }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: transparent;
            border-bottom: 3px solid $bcit-main-yellow-color;       
        }

        li.dropdown:hover .dropdown-content {
            background-color: $top-nav-color;
            width: 100%;
            a {
                color: $bcit-white-color;
                text-align:center;
            }
        }
    }
}