.students-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $calendar-panel-color;
    color: $bcit-white-color;
    border-radius: 10px;
    min-width: 540px;

    p{
        margin-left: $margin;
    }

    .students-headers, .individual-student {
        display: grid;
        grid-template-columns: 25% 30% 45%;

        p{
            text-align: start;
            margin-left: 2.5em;
        }

        &:nth-child(even) {
            background-color: $bg-table-even-row;
        }
    }

    .individual-student :nth-child(3n+3) {
        // text-align: end;
        margin-left: 0;
        margin-right: $margin;
        margin-left: 40px;
    }

    h3 {
        margin: $margin;
        color: $top-nav-hover-color;
        // text-align: center;
    }
    
    @include mq($tabletPortrait){
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: em(10);
        background-color: $bcit-white-color;

        .students-headers {
            display: none;
        }

        .individual-student {
            display: flex;
            flex-direction: column;
            background-color: $calendar-panel-color;
            border-radius: em(10);
        }
        .individual-student :nth-child(3n+3) {
            text-align: start;
            margin-right: 0;
            margin-left: em(20);
        }
        p {
            font-size: em(12);
        }
    }
    @include mq($betweenTabletAndPhone) {
        grid-template-columns: 1fr 1fr;
        min-width: em(420);

        .individual-student :nth-child(3n+3) {
            text-align: start;
            margin-right: 0;
            margin-left: em(10);
        }
    }
    @include mq($phonePortrait) {
        grid-template-columns: 1fr;
        .individual-student {
            width: em(185);
        }
    }
}