.students-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    grid-gap: 2px;
    background-color: $calendar-panel-color;
    color: white;
    border-radius: 10px;
    min-width: 570px;

    h3 {
        margin-left: $margin;
        color: $top-nav-hover-color;
    }
    
    @include mq($tabletPortrait){
        h3 {
            font-size: em(16);
            margin-left: em(5);
            padding: em(5);
        }
        p {
            font-size: em(12);
            padding: em(5);
        }
    }
    @include mq($betweenTabletAndPhone){
        padding: 5px;
        grid-gap: 0;
        border-radius: 10px;
        font-size: em(12);
    }
}
