table {
    background-color: $bg-table-color;
    border-radius: $border-radius-table;
    
    th, td {
        border-bottom: 2px solid white;
        // border-right: 2px solid white;
        padding: 20px;
    }

    tr:last-child td {
        border-bottom: none;
    }
}

.imgformat {
    width: 200px; 
    height: 70px;
}

.staff-table {
    @include mq($tabletPortrait) {
        .extras {
            display: none;
        }
    }
    @include mq($phoneLandscape) {
        .extra-extra {
            display: none;
        }
        th, td {
            padding: em(10);
        }
    }
    @include mq($phonePortrait){
        th, td {
            font-size: em(12);
        }
    }
}

.admin-table {
    @include mq($betweenTabletAndPhone) {
        .extra-extra {
            display: none;
        }
    }
    @include mq($phonePortrait){
        th, td {
            font-size: em(12);
        }
    }
}

.e-resource-table .staff-table {
    background-color: $bg-table-color;
    color: $bcit-main-font-color;
    //min-width: em(800);
    img {
        height: auto;
    }
    th, td {
        padding: em(10);
    }
    @include mq(em(850)){
        min-width: em(600);
        font-size: em(12);
        th, td {
            padding: em(5);
        }
    }
    @include mq($betweenTabletAndPhone){
        min-width: em(700);
        font-size: em(12);
        th, td {
            padding: em(5);
        }
    }
    @include mq($phoneLandscape){
        min-width: em(550);
        .extras {
            display: none;
        }
    }
    @include mq($phonePortrait){
        min-width: em(380);
    }
}

.table-container {
    @include mq($tabletLandscape){
        margin-left: em(50);
    }
    @include mq($tabletPortrait){
        margin-left: em(10);
    }
}

.staff-table {
    background-color: $bcit-main-blue-color;
    color: $table-white-font-color;

    thead {
        color: $bcit-main-yellow-color;
    }

    a {
        text-decoration: none;
        color: $table-white-font-color;
    }
}

.admin-table {
    background-color: $bcit-main-yellow-color;
    color:  $bcit-main-blue-color;
}

.td-bold {
    font-weight: bold;
}

.tr-yellow {
    background-color: $bcit-main-yellow-color;
    color:  $bcit-main-blue-color;
    border-radius: $border-radius-table;
}

.tr-yellow-light {
    background-color: $lightgolden-yellow-color;
    color:  $bcit-main-blue-color;
    border-radius: $border-radius-table;
}

.th-head {
    background-color: $nav-footer-color;
    color: $table-white-font-color;
    border-radius: $border-radius-table;
}
