body {
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-weight: lighter;
}

h2{
    // font-family: 'Arimo', sans-serif;
    font-family: 'Francois One', sans-serif;
    font-weight: bolder;
}

