//Variables
$space: 30;
$border-radius-table: 10px;

// Color Mods

// BG Colors
$bg-wrapper-color: #ffffff;
$bg-body-color: #ffffff;
$top-nav-color: #30393a;
$main-nav-color: #ffffff;
$main-nav-font-color: #870d0d;
$bg-banner-color: #870d0d;
$bg-table-color:#ededed;
$bg-table-bcit-color: #003c79;
$search-box-color: #222526;
$bcit-main-blue-color: #003c79;
$bg-carousel: #fce80c;

// Text Colors
$section-events-font-color: #ffffff;
$bcit-main-font-color: #003c79;
$table-white-font-color: #ffffff;
$bcit-main-yellow-color: #fce80c;

// Site Colors
$section-features-color: #ffffff;
$section-events-color: #293352;
$nav-footer-color: #414141;
$calendar-panel-color: #003c71;
$search-icon: #ffffff;
$btn-color: #30393a;
$top-nav-hover-color: #fce80c;
$footer-hover-color: #fce80c;

// Border Colors
$main-nav-border-bottom-color: #f3f3f1;

// Layout Variables
$site-width: 1920px;
$padding: rem($space);
$margin: 40px;
$half-padding: rem(($space / 2));

// Media Query Breakpoints
$desktopMedium: em(1250);
$tabletLandscape: em(980);
$tabletPortrait: em(800);
$betweenTabletAndPhone: em(675);
$phoneLandscape: em(570);
$phonePortrait: em(420);

// Utility Variables
$link-hover-selector: '&:hover, &:focus, &:active';

// Aspect Ratios
$aspect-ratios: (
    'video': rp(16, 9),
    'square': rp(1,1),
    'cinema': rp(21,9),
    'photo': rp(3,2)
);