html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

.wrapper {
  background-color: #003e6b;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden; }

body {
  background-color: #003e6b; }

.banner {
  background-color: #870d0d;
  color: #fff; }
  .banner p {
    margin: 0; }

.head-nav {
  background-color: #30393a;
  display: flex; }
  .head-nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none; }
  .head-nav li a, .head-nav .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .head-nav li a:hover, .head-nav .dropdown:hover .dropbtn {
    background-color: red; }
  .head-nav li.dropdown {
    display: inline-block; }
  .head-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .head-nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  .head-nav .dropdown-content a:hover {
    background-color: #f1f1f1; }
  .head-nav .dropdown:hover .dropdown-content {
    display: block; }
  .head-nav .search-form {
    display: flex; }

.main-nav {
  background-color: #ffffff; }
  .main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none; }
  .main-nav li a, .main-nav .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #870d0d; }
  .main-nav li a:hover, .main-nav .dropdown:hover .dropbtn {
    background-color: #ffffff; }
  .main-nav li.dropdown {
    display: inline-block; }
  .main-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .main-nav .dropdown-content a {
    color: #870d0d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  .main-nav .dropdown-content a:hover {
    background-color: #f1f1f1; }
  .main-nav .dropdown:hover .dropdown-content {
    display: block; }

footer {
  background-color: #414141;
  color: lightgray;
  text-align: center;
  padding: 1.875rem; }
  footer .footer-nav ul {
    display: flex; }
  footer .footer-nav li {
    list-style: none;
    flex: 1; }
  footer .footer-nav a {
    display: block;
    text-decoration: none;
    padding: 0.9375rem;
    font-size: 1.2em;
    color: lightgray; }
    footer .footer-nav a:hover, footer .footer-nav a:focus, footer .footer-nav a:active {
      color: red; }
    .footer-nav li:last-child a {
      border-right: none; }
  footer p {
    border-top: 2px solid lightgray;
    margin: 0; }

.features {
  background-color: #ffffff; }

/*# sourceMappingURL=styles1.css.map */
