html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-weight: lighter; }

h2 {
  font-family: 'Francois One', sans-serif;
  font-weight: bolder; }

.wrapper {
  background-color: #ffffff;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

body {
  background-color: #ffffff; }
  @media (max-width: 42.1875em) {
    body h1 {
      font-size: 1.25em; } }

.schedule-body {
  display: flex;
  text-align: center; }

.banner {
  background-color: #003c79;
  color: #fff; }
  .banner p {
    margin: 0; }

.top-nav {
  background-color: #30393a; }

.head-nav {
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 6px solid #fff72b; }
  .head-nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none; }
  .head-nav li {
    flex: 1; }
  .head-nav li a, .head-nav .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .head-nav li a:hover, .head-nav .dropdown:hover .dropbtn {
    border-top: 5px solid #fce80c; }
  .head-nav li.dropdown {
    display: inline-block; }
  .head-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .head-nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  .head-nav .dropdown-content a:hover {
    background-color: #f1f1f1; }
  .head-nav .dropdown:hover .dropdown-content {
    display: block; }
  .head-nav .search-form {
    flex: 1;
    position: absolute;
    top: 0;
    right: 0; }
  .head-nav .search-box {
    height: 44px;
    background-color: #222526;
    border: none;
    font-size: 1.2rem;
    padding-left: 14px; }
  .head-nav .fa {
    font-size: 1.2rem;
    color: #ffffff; }
  .head-nav .btn {
    background-color: #30393a;
    border: none; }

@media (max-width: 35.625em) {
  .mw-class .top-nav {
    display: none;
    width: 100%; }
    .show .mw-class .top-nav {
      display: block; }
    .mw-class .top-nav .head-nav {
      display: flex;
      flex-direction: column-reverse;
      border-bottom: none; }
      .mw-class .top-nav .head-nav ul {
        display: block; }
      .mw-class .top-nav .head-nav li a {
        display: block;
        line-height: 38px; }
      .mw-class .top-nav .head-nav .dropdown {
        display: none; }
      .mw-class .top-nav .head-nav .search-form {
        flex: 1;
        position: static;
        top: 0;
        right: 0;
        display: block;
        width: 100%; } }

.bottom-nav {
  height: 45px;
  display: flex;
  border-bottom: 4px #f3f3f1 solid;
  background-color: #ffffff; }
  .bottom-nav .logo {
    display: block;
    position: relative;
    z-index: 900;
    height: 45px;
    width: 83px;
    margin-left: 40px;
    flex: 0 0 83px;
    transition: all 0.3s ease; }
    .bottom-nav .logo img {
      width: 100%;
      height: 140%; }

.main-nav {
  flex: 1;
  background-color: #ffffff; }
  .main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none; }
    @media (max-width: 35.625em) {
      .main-nav ul {
        display: none; } }
  .main-nav li a, .main-nav .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #003c79; }
  .main-nav li a:hover, .main-nav .dropdown:hover .dropbtn {
    background-color: #ffffff;
    border-bottom: 3px solid #fce80c; }
  .main-nav li.dropdown {
    display: inline-block; }
  .main-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .main-nav .dropdown-content a {
    color: #003c79;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  .main-nav .dropdown-content a:hover {
    background-color: #f1f1f1;
    border: none; }
  .main-nav .dropdown:hover .dropdown-content {
    display: block; }

.mw-class .logo {
  position: absolute;
  top: 50px;
  left: 33px;
  display: block;
  z-index: 900;
  height: 45px;
  width: 83px;
  /* margin-left: 40px; */
  transition: all 0.3s ease; }
  .mw-class .logo img {
    width: 100%;
    height: 140%; }
  @media (max-width: 35.625em) {
    .mw-class .logo {
      position: static; } }

@media (max-width: 35.625em) {
  .mw-class .bottom-nav {
    background-color: #30393a;
    display: none;
    width: 100%;
    height: auto; }
    .show .mw-class .bottom-nav {
      display: block; } }

.mw-class .main-nav {
  background-color: transparent; }

.mw-class .main-nav ul {
  margin: 0 auto;
  max-width: 1200px; }
  @media (max-width: 56.25em) {
    .mw-class .main-nav ul {
      margin: 0 0 0 117px; } }
  @media (max-width: 35.625em) {
    .mw-class .main-nav ul {
      display: block;
      margin: 0;
      height: auto;
      width: 100%; }
      .mw-class .main-nav ul li a {
        display: block;
        line-height: 35px;
        color: white; }
      .mw-class .main-nav ul li.dropdown {
        display: block; }
      .mw-class .main-nav ul .dropdown-content {
        display: none; }
      .mw-class .main-nav ul li a:hover, .mw-class .main-nav ul .dropdown:hover .dropbtn {
        background-color: transparent;
        border-bottom: 3px solid #fce80c; }
      .mw-class .main-nav ul li.dropdown:hover .dropdown-content {
        background-color: #30393a;
        width: 100%; }
        .mw-class .main-nav ul li.dropdown:hover .dropdown-content a {
          color: white;
          text-align: center; } }

footer {
  background-color: #414141;
  color: lightgray;
  text-align: center;
  padding: 1.875rem; }
  footer .footer-nav ul {
    display: flex; }
  footer .footer-nav li {
    list-style: none;
    flex: 1; }
  footer .footer-nav a {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    color: lightgray; }
    footer .footer-nav a:hover, footer .footer-nav a:focus, footer .footer-nav a:active {
      color: #fce80c; }
    .footer-nav li:last-child a {
      border-right: none; }
  footer p {
    border-top: 2px solid lightgray;
    margin: 0; }

.navbar-custom {
  position: fixed;
  top: -1px;
  width: 100%;
  z-index: 999; }

@media (max-width: 35.625em) {
  .mw-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;
    background-color: #30393a; }
    .show .mw-class {
      height: auto;
      overflow: scroll; } }

.features {
  background-color: #ffffff; }
  .features h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold; }

.gallery {
  display: grid;
  max-width: 1020px;
  margin: 0 auto;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: 200px 200px; */
  grid-gap: 50px 20px;
  justify-content: center;
  align-content: center;
  padding-bottom: 70px; }

.gallery p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px; }
  .gallery p a {
    text-decoration: none;
    color: #ffffff; }

.gallery-item {
  position: relative; }

.gallery .gallery-item img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.gallery-item:before {
  content: "";
  height: 0;
  display: inline-block;
  width: 1px;
  padding-bottom: calc(100% / (3 / 2)); }

section {
  grid-template-columns: 1fr repeat(2, minmax(auto, 540px)) 1fr; }

.events {
  background-color: #293352; }
  .events h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem; }

.container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 100px; }
  .container ul li a {
    text-decoration: none; }
  .container p {
    margin-left: 40px; }
  @media (max-width: 50em) {
    .container {
      margin-left: 4.6875em; }
      .container p {
        margin-left: 1.25em; } }
  @media (max-width: 42.1875em) {
    .container {
      margin-left: 1.25em; }
      .container p {
        margin-left: 0.625em; } }

.calendar-container {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column; }
  .calendar-container h1, .calendar-container h2 {
    color: white; }

.para p {
  text-indent: 0px;
  margin-left: 40px; }

.container-custom {
  background-color: #fce80c; }

.row-custom {
  width: 70%;
  margin: 30px auto; }

.carousel {
  position: relative; }
  .carousel::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    /* Use any height divided by width here
       16:9 - 9 / 16 - Video
       4:3 - 3 / 4 - Some photos
       3:2 - 2 / 3 - Some photos
       1:1 - 1 / 1 - square
    */
    padding-top: calc((9 / 16) * 100%); }
  .carousel::after {
    /* to clear float */
    content: "";
    display: table;
    clear: both; }

.carousel-inner {
  height: 100%;
  position: absolute; }

.carousel-item {
  height: 100%; }

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; }

.list {
  list-style: none; }

.italic {
  font-style: italic; }

table {
  background-color: #ededed;
  border-radius: 10px; }
  table th, table td {
    border-bottom: 2px solid white;
    padding: 20px; }
  table tr:last-child td {
    border-bottom: none; }

.imgformat {
  width: 200px;
  height: 70px; }

.e-resource-table {
  background-color: #ededed;
  color: #003c79; }

.staff-table {
  background-color: #003c79;
  color: #ffffff; }
  .staff-table thead {
    color: #fce80c; }
  .staff-table a {
    text-decoration: none;
    color: #ffffff; }

.admin-table {
  background-color: #fce80c;
  color: #003c79; }

.td-bold {
  font-weight: bold; }

.tr-yellow {
  background-color: #fce80c;
  color: #003c79;
  border-radius: 10px; }

.tr-yellow-light {
  background-color: #fffdc6;
  color: #003c79;
  border-radius: 10px; }

.th-head {
  background-color: #414141;
  color: #ffffff;
  border-radius: 10px; }

main {
  flex: 1;
  margin-top: 95px; }

.greater-contact-area {
  display: flex; }

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: 40px;
  margin-top: 40px; }
  .contact-form textarea {
    margin-top: 0.75em; }
  .contact-form button {
    background-color: #003c71;
    border: none;
    color: white;
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    width: 100px; }

.contact-input {
  display: grid;
  grid-template-columns: 200px;
  grid-row-gap: 0.75em;
  max-width: 400px; }
  .contact-input label {
    min-width: 100px; }

.contact-input-box {
  display: flex; }

.radio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px; }
  .radio label {
    min-width: 175px; }

.comments {
  min-height: 120px;
  max-width: 400px;
  min-width: 300px; }

.students-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px;
  grid-gap: 2px;
  background-color: #003c71;
  color: white;
  border-radius: 10px;
  min-width: 570px; }
  .students-grid-container h3 {
    margin-left: 40px;
    color: #fce80c; }
  @media (max-width: 50em) {
    .students-grid-container h3 {
      font-size: 1em;
      margin-left: 0.3125em;
      padding: 0.3125em; }
    .students-grid-container p {
      font-size: 0.75em;
      padding: 0.3125em; } }
  @media (max-width: 42.1875em) {
    .students-grid-container {
      padding: 5px;
      grid-gap: 0;
      border-radius: 10px;
      font-size: 0.75em; } }

.hamburger .text {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

.hamburger {
  display: none; }
  @media (max-width: 35.625em) {
    .hamburger {
      display: block;
      width: 40px;
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer; }
      .hamburger .hamburger-content {
        height: 24px; }
      .hamburger .hamburger-icon {
        color: white;
        line-height: 1;
        font-size: 2.4em; }
      .hamburger .bar {
        display: block;
        height: 4px;
        background-color: #ffffff;
        width: 100%;
        position: relative;
        top: 10px;
        transition: all 0.3s ease-in-out; }
        .show .hamburger .bar {
          background-color: transparent; }
        .hamburger .bar:before, .hamburger .bar:after {
          content: "";
          width: 100%;
          height: 4px;
          left: 0;
          background-color: white;
          position: absolute;
          transition: all 0.3s ease-in-out; }
          .hamburger .bar:before {
            top: -10px; }
            .show .hamburger .bar:before {
              transform: rotate(-45deg); }
          .hamburger .bar:after {
            top: 10px; }
            .show .hamburger .bar:after {
              transform: rotate(45deg); }
          .show .hamburger .bar:before, .show .hamburger .bar:after {
            top: 0; }
      .hamburger:focus,
      .hamburger .hamburger-content:focus {
        outline: none; }
      .hamburger:focus .hamburger-content {
        outline: 5px solid #7683C9; } }

/*# sourceMappingURL=styles1.css.map */
